:root {
  --cor-Builder: #9e4649;
  --cor-Sup: #94d2cf;
  --cor-Karm: #f0e4ad;
  --cor-Calc: #759dbc;
  --cor-H3: #434549;
  --cor-P: #bcbcbc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn', serif;
  background-color: whitesmoke;
}

/*Grid*/

.wrapper {
  display: grid;
  grid: 180px 250px 200px 200px / 1fr 1fr 1fr;
  gap: 20px;
  max-width: 80%;
  margin: 100px auto;
}

.wrapper .header {
  grid-column: 1/4;
}

.wrapper .card1 {
  grid-column: 1;
  grid-row: 2;
  margin-top: 150px;
  border-top: 3px solid var(--cor-Sup);
}

.wrapper .card2 {
  grid-column: 2;
  border-top: 3px solid var(--cor-Builder);
}

.wrapper .card3 {
  grid-column: 2;
  border-top: 3px solid var(--cor-Karm);
}

.wrapper .card4 {
  grid-column: 3;
  grid-row: 2;
  margin-top: 150px;
  border-top: 3px solid var(--cor-Calc);
}

/*Card*/
.card {
  background-color: white;
  max-width: 100%;
  height: 200px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card p {
  color: var(--cor-P);
}

/*Geral*/
.header {
  text-align: center;
}

.header h1 {
  font-size: 2rem;
  color: var(--cor-P);
  line-height: 0.1;
}

.wrapper h2 {
  color: var(--cor-H3);
  font-size: 2rem;
  font-weight: 700;
}
.wrapper p {
  color: var(--cor-P);
  font-size: 1rem;
}

.wrapper h3 {
  color: var(--cor-H3);
  font-size: 1.5rem;
  font-weight: 700;
}

/*icones*/
.site-icon {
  max-width: 10%;
}

/* Medias Queries */

@media (max-width: 700px) {
  .wrapper {
    display: block;
  }
  .wrapper .card1,
  .card2,
  .card3,
  .card4 {
    margin-top: 0 !important;
  }
  .header h1 {
    line-height: 1;
  }
}
